<div class="form-container">
	<h2 class="hidden-phone">{{form_h2}}</h2>
	<form action="synthese.php" method="post" novalidate>

		<input type="hidden" name="code_apporteur" value="{{CodeApporteur|default(default_code_apporteur)}}">

		<fieldset class="form-step form-step1">
			<legend><span class="step">1</span> {{form_legend.step1}}</legend>
			
			<hr>
		
			<p class="muted"><small>Ces informations sont nécessaires pour vous proposer un devis personnalisé.</small></p>
			<button type="button" class="btn btn-info pull-right continue-btn">Continuer &raquo;</button>
		</fieldset>

		<fieldset class="form-step form-step2">
			<legend><span class="step">2</span> {{form_legend.step2}}</legend>
											
			<div class="row-fluid zebra zebra-margin">
				<div class="span2">
					<div class="control-group">
						<label class="control-label" for="owner-gender">Civilité :</label>
						<div class="controls">
							<select name="owner_gender" id="owner-gender" class="input-block-level">
								<option value="1">M.</option>
								<option value="2" selected>Mme</option>
							</select>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="control-group">
						<label class="control-label" for="owner-surname">Votre prénom :</label>
						<div class="controls">
							<input type="text" name="owner_surname" class="input-block-level" id="owner-surname" required>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="control-group">
						<label class="control-label" for="owner-name">Votre nom :</label>
						<div class="controls">			
							<input type="text" name="owner_name" class="input-block-level" id="owner-name" required>
						</div>
					</div>
				</div>
				<div class="span4">					
					<div class="control-group">
						<label class="control-label" for="owner-birthday">Date de naissance</label>
						<div class="controls">
							<div class="row-fluid">
								<input type="text" name="obirthday_day" id="obirthday-day" class="span3 date-input" size="2" data-range="[1, 31]" placeholder="Jour" required>
								<input type="text" name="obirthday_month" id="obirthday-month" class="span3 date-input" size="2" data-range="[1, 12]" placeholder="Mois" required>
								<input type="text" name="obirthday_year" id="obirthday-year" class="span4 date-input" size="4" data-range="[1931, 1999]" placeholder="Année" required>
							</div>	
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<div class="control-group">
						<label class="control-label" for="owner-address">Adresse</label>
						<div class="controls">
							<input type="text" name="owner_address" class="input-block-level" id="owner-address" required>
						</div>
					</div>
				</div>
				<div class="span6">										
					<div class="control-group">
						<label class="control-label" for="zip-code">Code postal</label>
						<div class="controls">
							<input type="text" name="zip_code" class="span3" id="zip-code" data-exactly="5" required>					
							<select type="text" name="insee" class="insee-holder" id="insee" required></select>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid zebra zebra-margin">
				<div class="span3">				
					<div class="control-group">
						<label class="control-label" for="owner-phone">Téléphone</label>
						<div class="controls">
							<input type="tel" name="owner_phone" id="owner-phone" class="input-block-level" pattern="[0-9]{10}" maxlength="10" data-msphone="" required>
						</div>
					</div>	
				</div>
				<div class="span4">
					<div class="control-group">
						<label class="control-label" for="owner-email">E-mail</label>
						<div class="controls">
							<input type="email" name="owner_email" id="owner-email" class="input-block-level" placeholder="votre-email@exemple.fr" required>
						</div>
					</div>										
				</div>
				<div class="span5">
					<div class="control-group">
						<label class="control-label" for="contract-start-date">Date d'effet du contrat souhaitée :</label>
						<div class="controls">
							<div class="row-fluid">
								<input type="text" name="csd_day" id="csd-day" class="span2 date-input" maxlength="2" data-range="[1, 31]" placeholder="Jour" value="{{OneMoreDayDay}}" required>
								<input type="text" name="csd_month" id="csd-month" class="span2 date-input" maxlength="2" data-range="[1, 12]" placeholder="Mois" value="{{OneMoreDayMonth}}" required>
								<input type="text" name="csd_year" id="csd-year" class="span3 date-input" maxlength="4" data-range="[2013, 2020]" placeholder="Année" value="{{OneMoreDayYear}}" required>
							</div>	
						</div>
					</div>										
				</div>
			</div>
					
			<div class="form-horizontal">	
				<div class="control-group">
					<label for="contract-type" class="control-label">Type de formule souhaitée :</label>
					<div class="controls">
						<label class="radio inline"><input type="radio" name="contract_type" checked> Basique</label>
						<label class="radio inline"><input type="radio" name="contract_type"> Sérénité</label>
						<label class="radio inline"><input type="radio" name="contract_type"> Premium</label>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label optin-label">Souhaitez-vous bénéficier des meilleures offres de nos partenaires ?</label>
					<div class="controls">
						<label class="radio inline">
							<input type="radio" id="optin-1" name="optin" value="0" checked required> Non
						</label>
						<label class="radio inline">
							<input type="radio" id="optin-2" name="optin" value="1" required> Oui
						</label>
					</div>					
				</div>	
			</div>
			
			<hr>

			<p class="muted"><small>Ces informations sont nécessaires pour vous proposer un devis personnalisé.</small></p>

			<button type="button" class="btn btn-info btn-mini back-btn">Retour</button>
			<button type="submit" class="btn btn-large btn-primary pull-right">Afficher les tarifs &raquo;</button>

		</fieldset>
	</form>
</div>